.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #55b1db;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  color: #000000;
  font-size: medium;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1rem;
}
.product {
  background-color: #ffffff;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: calc(50px + 2vmin);
  color: black;
}
.product img {
  max-height: 12rem;
}
.product-container {
  padding: 2rem;
}

.product-container button {
  background-color: #55b1db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.product-container button.add {
  background-color: pink;
}
.product-container button.remove {
  background-color: red;
}
.product-container button.badge {
  background-color: yellow;
}
